/*Comentário aqui dentro - Para CSS*/

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-image: url('../assets/plano-de-fundo.png');
  background-repeat: no-repeat; /* evita duplicação */
  background-size: cover; /* faz a imagem cobrir toda a tela */
}

.logo-image{
  border-radius: 15px; 
  cursor: pointer; 
}

.main-title{
  color: #ffff;
  margin: 30px 0 30px 0;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control {
  margin-bottom: 20px;
  box-sizing: border-box;
}

#input-email{
  margin-bottom: 30px;
}

.fa-eye { 
    cursor: pointer;
    font-size: 20px;
    color: #808080;
}

.fa-eye-slash {
    cursor: pointer;
    font-size: 20px;
    color: #808080;
    display: none; /* inicialmente escondido */
}

.eye-box {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;          
  display: flex;
  justify-content: center;
  align-items: center;
}

input.form-control:focus {
  outline: none; /* remove a borda de foco padrão */
  box-shadow: none; /* remove a sombra padrão */
  border-color: #e6e6e6; 
}

.checkbox-remember-login{
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center; /* alinha checkbox e texto na mesma linha */
  gap: 6px; /* espaço entre checkbox e texto */
  margin: 0 auto;
  margin-bottom: 20px;
}

#remember-me {
  width: 16px; 
  height: 16px;
  cursor: pointer;  
}

.checkbox-remember-login span {
  font-weight: 500;
  margin-right: 10px;
}

.btn-primary {
  font-weight: 500;
  transition: 0.2s; /* transição suave para hover */
}

.btn-primary:hover {
  opacity: 0.9; /* leve efeito de transparência */
  transform: translateY(-2px); /* leve elevação para cima no botão */
}

.text-muted{
  margin: 50px 0 30px 0;
}

.text-muted span {
  color: #ffff; 
  font-weight: 500;
}

@keyframes cairNotificacao {
  0% {
    transform: translate(-50%, -80px); /*50% centraliza na horizontal, -80% joga pra cima (fora da posição)*/
    opacity: 0; /*Deixa invisível*/
  }
  70% {
    transform: translate(-50%, 10px); /* leve bounce */
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}


